# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Author
Jo√£o Pedro Fernandes de Aquino

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular Tools for Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Apache
2. Tensor Flow
3. Pandas

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
9 + 5

14

In [14]:
7 - 3

4

In [15]:
#This a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [16]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335